<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contoh EJS</title>
</head>

<body>
    <h1>Ngapain Kita Hari Ini?</h1>
    <div id="kegiatan"></div>
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js"></script>
    <script>
        var template = `
        <ul>
            <% for(var i = 0; i < ngapain.length; i++) {%>
            <li><%= ngapain[i] %></li>
            <% } %>
        </ul>`;


        var ngapain = ['Belanja', 'Kasih Makan Kucing', 'Beli Wortel']
        var html = ejs.render(template, ngapain)

        document.querySelector("#kegiatan").innerHTML = html
    </script>
</body>

</html>
